<div class="body">
  <div class="counter">
    <button (click)="handle('decrement')" class="decrement-button">-</button>
    <h2>{{ number }}</h2>
    <button (click)="handle('increment')" class="increment-button">+</button>
    <div>
      <button (click)="addNumber()" class="save-button">Add</button>
    </div>
  </div>

  <div style="border-top: 1px solid rgb(85, 85, 85); margin: 20px 0px; padding-top: 10px;">
    <h3>List of all saved data.</h3>
    <table>
      <thead>
        <tr>
          <th>Saved Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let savedNumber of savedNumbers">
          <td>{{ savedNumber.value }}</td>
          <td>{{ savedNumber.date }}</td>
          <td>{{ savedNumber.time }}</td>
          <td><button class="remove-button" (click)="removeNumber(savedNumber)">Remove</button></td>
        </tr>

        <tr *ngIf="savedNumbers.length === 0">
          <td colspan="4">No saved data found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>