<div class="consumer-container">
  <h2>Form Data Consumer</h2>

  <div *ngIf="nameData" class="section">
    <h3>Name Section Data</h3>
    <p>First Name: {{ nameData.firstName }}</p>
    <p>Last Name: {{ nameData.lastName }}</p>
  </div>

  <div *ngIf="dobData" class="section">
    <h3>DOB Section Data</h3>
    <p>Date of Birth: {{ dobData.dob }}</p>
  </div>

  <div *ngIf="addressData" class="section">
    <h3>Address Section Data</h3>
    <p>Address: {{ addressData.address }}</p>
  </div>
</div>