<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3">

  <div class="row gap-3">
    <div class="col-12 p-0 m-0" *ngFor="let field of fields">
      <app-form-field [form]="form" [controlName]="field.controlName" [label]="field.label" [type]="field.type"
        [placeholder]="field.placeholder" [cssClass]="field.cssClass" [options]="field.options"
        [multiple]="field.multiple">
      </app-form-field>
    </div>
  </div>

  <!-- Redirect to Register or Login -->
  <p *ngIf="redirectRegister">Don't have an account?<a (click)="redirectToRegister()"
      class="text-primary cursor-pointer"> Register</a>
  </p>
  <p *ngIf="redirectLogin">Already have an account?<a (click)="redirectToLogin()" class="text-primary cursor-pointer">
      Login</a></p>

  <div class="text-end">
    <button type="submit" class="btn btn-primary px-5 py-2" [disabled]="form.invalid">
      {{ submitLabel }}
    </button>
  </div>
</form>