.form-container {
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  margin: 50px auto;
  min-height: 250px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}