<div class="form-container">
  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name" placeholder="Enter name">
      <span *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
        Name is required
      </span>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" placeholder="Enter email">
      <span *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
        Email is required
      </span>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" placeholder="Enter password">
      <span *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
        Password is required
      </span>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm password">
      <span *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
        class="error">
        Passwords do not match
      </span>
    </div>
    <p>Already have an account? <a class="" routerLink="/login">Login</a></p>
    <button type="submit">Register</button>
  </form>
</div>