.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  gap: 30px;
}

.stat {
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.first {
  background-color: lightsalmon;
}

.second {
  background-color: lightblue;
}

.third {
  background-color: lightgreen;
}

.stat h3 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #555;
}

.stat p {
  font-size: 3em;
  font-weight: bold;
  color: #222;
}