<div class="body">
  <h2 class="mt-4">{{ title }}</h2>
  <div class="counter">
    <button (click)="decrement()" class="btn btn-outline-danger px-4 py-3 fw-bold">-</button>
    <h2>{{ number }}</h2>
    <button (click)="increment()" class="btn btn-outline-success px-4 py-3 fw-bold">+</button>
    <div>
      <button (click)="addNumber()" class="btn btn-primary py-2 px-4">Add</button>
    </div>
  </div>

  <div class="table">
    <h3>List of all saved data.</h3>
    <table>
      <thead>
        <tr>
          <th>Saved Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let savedNumber of savedNumbers">
          <td>{{ savedNumber.value }}</td>
          <td>{{ savedNumber.date }}</td>
          <td>{{ savedNumber.time }}</td>
          <td><button class="btn btn-danger" (click)="removeNumber(savedNumber)">Remove</button></td>
        </tr>

        <tr *ngIf="savedNumbers.length === 0">
          <td colspan="4">No saved data found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>