.counter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.increment-button {
  color: green;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid green;

}

.decrement-button {
  color: red;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid red;
}

.decrement-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.increment-button:hover {
  background-color: rgba(0, 128, 0, 0.1);
}

.table {
  border-top: 1px solid rgb(85, 85, 85);
  margin: 20px 0px;
  padding-top: 10px;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid #ddd;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}