<div class="footer">
  <div class="footer-left">
    <h3>Footer</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, reprehenderit! Iusto, dolore quis. Nulla
      iusto, tenetur quasi impedit illum ipsum maxime minus animi repudiandae quae autem tempora unde quos amet?</p>
  </div>
  <div class="footer-center">
    <ul>
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/counter">COUNTER</a></li>
      <li><a routerLink="/color-picker">COLOR PICKER</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <input type="text" placeholder="Subscribe to our newsletter" />
    <button>Subscribe</button>
  </div>
</div>